#===============================================================================
#
# Filebeat Configuration
#
#-------------------------------------------------------------------------------
# {{ ansible_managed }}
#===============================================================================


############################# Filebeat ######################################

{{ filebeat_conf | to_nice_yaml }}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
  index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
